/* 브라우저의 크기가 1040px 이하일 때 */
@include mobile{
  .mb {
    display: block;
  }
  .mb-title {
    font-size: 17px;
    letter-spacing: -1px;
    padding: 0 15px 15px;
  }
  .pc {
    display: none;
  }
  .inner {
    width: 100%;
    padding: 0 15px;
  }
  header {
    .pc-top {
      display: none;
    }
    .mb-top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
      > div {
        padding: 0 15px;
        display: flex;
        align-items: center;
        height: 50px;
        z-index: 11;
        text-align: center;
        background-image: linear-gradient(to top,transparent,rgba(0,0,0,.3));
        a, button {
          img {
            display: none;
            width: 100%;
            height: 100%;
            &.on {
              display: block;
            }
          }
        }
        .logo {
          display: block;
          width: 144px;
          height: 20.5px;
          margin: 0 auto;
        }
        .gnb {
          display: block;
          border: none;
          background: none;
          width: 19px;
          height: 16.5px;
        }
      }
      .login-wrapper {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 92%;
        height: 100%;
        background-color: #eef0f2;
        &.on {
          display: block;
        }
        .login {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 232.5px;
          background: #13294b url("../images/bg_gnb_login.jpg") no-repeat 0 0;
          background-size: cover;
          .top {
            width: 100%;
            height: 35px;
            display: flex;
            align-items: flex-end;
            .close {
              position: absolute;
              top: 13px;
              left: 0;
              width: 25px;
              height: 25px;
              border: none;
              background: url("../images/btn_gnb_close.png") 50% 50% / 15px 15px no-repeat;
              margin-left: 10px;
            }
            .logo {
              display: block;
              width: 151px;
              height: 20.5px;
              background: url("../images/logo_m_login.png") no-repeat 0 0;
              background-size: cover;
              margin: 0 auto;
            }
          }
          .btm {
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            .photo {
              width: 50px;
              height: 50px;
              background: url("../images/ico_mprofile.png") no-repeat 0 0 / cover;
              margin: 0 auto;
              margin-bottom: 3px;
            }
            span {
              color: #fff;
              font-size: 14px;
              &::after {
                content: "";
                display: inline-block;
                width: 7px;
                height: 12px;
                background: url("../images/bul_mlogin.png") no-repeat 0 0 / cover;
                margin-left: 7px;
                vertical-align: -1px;
              }
            }
          }
        }
        .menu {
          position: absolute;
          top: 202px;
          left: 15px;
          right: 15px;
          background-color: #fff;
          border-radius: 10px;
          padding: 20px;
          > ul {
            > li {
              padding: 8px 0;
              text-align: start !important;
              > a {
                font-size: 15px;
                font-weight: 600;
                &::before {
                  content: "";
                  display: inline-block;
                  width: 19px;
                  height: 30px;
                  vertical-align: -9px;
                  background: url("../images/gnb_allmenu_micon.gif") no-repeat 0 0 / cover;
                  margin-right: 7px;
                }
              }
              .home-menu {
                padding: 0 10px 0 23px;
                li {
                  a {
                    height: 29.5px;
                    line-height: 29.5px;
                    display: block;
                    border-bottom: 1px solid #f0f0f0;
                    font-size: 13px;
                    color: #333;
                  }
                }
              }
              &.icon2 a::before {
                background-position-y: -30px;
              }
              &.icon3 a::before {
                background-position-y: -180px;
              }
              &.icon4 a::before {
                background-position-y: -150px;
              }
            }
          }
        }
      }
    }
  }
  main {
    .slider-area {
      > ul li a {
        height: 890px;
        .inner {
          strong {
            bottom: 73px;
            left: 30px;
            right: 30px;
            font-size: 20px;
            line-height: 26px;
            br {
              display: block;
            }
          }
          span {
            height: 32px;
            bottom: 38px;
            left: 30px;
            right: 30px;
            font-size: 12px;
            word-break: keep-all;
          }
        }
      }
      .swiper-button-next, .swiper-button-prev, .swiper-scrollbar {
        display: none;
      }
    }
    .tag-area {
      .inner {
        .tag-list {
          height: auto !important;
          background-color: #f6f7f8;
          ul {
            padding: 15px;
            margin: 0;
            display: flex;
            li {
              width: auto !important;
              a {
                display: block;
                font-size: 12px;
                line-height: 26px;
                height: 26px;
                padding: 0 10px;
                border-radius: 50px;
                background-color: #fff;
              }
            }
          }
          .btn-more {
            display: none;
          }
        }
      }
    }
    .data-area {
      padding: 30px 0;
      .inner {
        .data-title {
          height: 29px;
          img {
            height: 100%;
          }
        }
        .data-content {
          display: block;
          padding-bottom: 0;
          .btn-wrap {
            margin-bottom: 20px;
            ul {
              display: flex;
              background-color: #fff;
              border-radius: 50px;
              overflow: hidden;
              li {
                width: 50%;
                a {
                  width: 100%;
                  line-height: 33px;
                  font-size: 14px;
                  letter-spacing: -0.3px;
                  text-align: center;
                  span {
                    background: unset;
                    text-indent: unset;
                    height: auto;
                    margin-bottom: 0;
                    &.on {
                      background-color: #567ff2 !important;
                    }
                  }
                  p {
                    display: none !important;
                  }
                }
              }
            }
          }
          .img-wrap {
            padding: 0;
            ul {
              display: none;
              grid-template-columns: repeat(2, 1fr);
              gap: 12px;
              li {
                a {
                  width: 100%;
                  height: 140px;
                  span {
                    font-size: 14px;
                  }
                }
              }
            }
            ul.on {
              display: grid;
            }
          }
          .more-wrap {
            position: relative;
            font-size: 12px;
            text-align: center;
            margin-top: 20px;
            line-height: 28px;
            button {
              border: 1px solid #d4d9e5;
              padding: 0 12px;
              line-height: 26px;
              border-radius: 50px;
              margin-right: -30px;
              &::after {
                width: 14px;
                height: 13px;
                background-size: cover;
              }
            }
            a {
              float: right;
              &::after {
                width: 6px;
                height: 10px;
                background-size: cover;
              }
            }
          }
        }
      }
    }
    .issue-area {
      .inner {
        padding: 0;
        display: block;
        .left-box {
          padding: 0 0 30px 0;
          border-top: 1px solid #efefef;
          border-bottom: 1px solid #efefef;
          h3 {
            padding-top: 25px;
          }
          a {
            img {
              width: 100%;
              height: auto;
              border-radius: 0px;
            }
          }
          .today-issue {
            display: none;
          }
        }
        .right-box {
          padding: 0 0 40px 0;
          border-bottom: 1px solid #efefef;
          h3 {
            padding-top: 25px;
          }
          > div {
            ul {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              width: 100% !important;
              height: 100% !important;
              margin-left: 0;
              padding: 0 15px;
              li {
                width: 100% !important;
                height: 150px;
                a {
                  display: block;
                  height: 100%;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                  }
                }
              }
            }
          }
          .mb-issue-wrap {
            display: flex;
          }
          .btn-pages {
            bottom: 16px;
            justify-content: center;
          }
        }
      }
    }
    .theme-area {
      margin-bottom: 70px;
      .inner {
        padding: 0;
        > div {
          padding: 0 15px;
          ul {
            display: flex;
            li {
              width: 55% !important;
              height: 100%;
              padding: 0;
              border: none;
              box-shadow: 1px 1px 20px 0px rgb(158 154 153 / 32%);
              a {
                width: 100%;
                height: 100%;
                &::after {
                  display: none;
                }
                img {
                  width: 100%;
                  height: 230px;
                  overflow: hidden;
                  object-fit: cover;
                }
                span {
                  display: block;
                  position: relative;
                  color: #666;
                  top: 0;
                  left: 0;
                  font-size: 14px;
                  font-weight: normal;
                  line-height: 18px;
                  padding: 15px;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
              }
            }
          }
        }
        .theme-swiper {
          position: relative;
          overflow: hidden;
          height: 100%;
          .theme-scroll {
            margin-top: 40px;
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
          }
        }
      }
    }
  }
  footer {
    .top-ft {
      .inner {
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        .notice-area {
          width: 100%;
          height: 38px;
          ul {
            li {
              width: auto;
              a {
                font-size: 12px;
                padding-right: 0;
              }
            }
          } 
        }
        .sel-area {
          display: block;
          .sel-box {
            margin: 5px 0 13px;
            select {
              width: calc(100% - 55px) !important;
              margin-left: 0 !important;
              background-position-x: right;
            }
            a {
              height: 35px;
            }
          }
        }
      }
    }
    .btm-ft {
      .inner {
        .sns-area {
          height: auto;
          .sns-notice {
            img {
              display: none;
            }
            span {
              margin-left: 0;
              font-size: 13px;
            }
          }
          .sns-list {
            ul {
              justify-content: center;
              padding: 10px 0 20px;
              li {
                margin: 0 4px;
                a {
                  span {
                    width: 31px;
                    height: 31px;
                    background-size: 31px 31px !important;
                  }
                  em {
                    display: none;
                  }
                }
              }
            }
          }
        }
        .info-area {
          .info-images {
            ul {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              li {
                margin: 5px;
                &:last-of-type {
                  grid-column: span 2;
                }
                a {
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
          .info-links, .info-address {
            display: none;
          }
          
        }
        .logo-area {
          ul {
            display: none;
          }
        }
      }
    }
  }
}